@import url('https://fonts.googleapis.com/css?family=Patua+One');

* {
    padding: 0;
    margin: 0;
}
/*Hola esto es un comentario 
*/
/* Define los tamaños del cuerpo de la pagina ("body")
y de la cabecera ("header")
*/

body {
    width: 100%;
    height: 100%;
    flex: left;

}

header {
    width: 100%;
    height: 121px;
    background: #10D1D1;
}

/*
Define el tamaño del texto e imagenes del "header", y tambien la posicion del reloj
*/

#logo {
    position: absolute;
    width: 94px;
    height: 94px;
    top: 13.5px;
    left: 99px;
    background: url(../galeria/chef.jpg) no-repeat;
    background-size: cover;
    border-radius: 50%;
}

#empresa {
    position: absolute;
    color: #000;
    font-family: Patua One, monospace;
    font-size: 45px;
    left: 210px;
    top: 30px;
}

#reloj {
    position: absolute;
    top: 8px;
    right: 0;
}

/*
Todas las caracteristicas visuales de fondo y de los botones de la zona "section" de la pagina
*/

section {
    position: absolute;
    width: 67%;
    height: 89%;
    background: #EFEFEF;
}

section button {
    position: relative;
    top: 40px;
    left: 35px;
    width: 400px;
    height: 170px;
    background: #fff;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
}

section h2 {
    position: absolute;
    top: 32%;
    left: 26px;
    font-size: 40px;
    font-family: Patua One, monospace;
}

section .arriba {
    position: absolute;
    top: 17px;
    left: 26px;
    border-color: transparent;
    border-radius: 3px;
    width: 80%;
    height: 2%;
}

section .abajo {
    position: absolute;
    bottom: 17px;
    left: 26px;
    border-color: transparent;
    border-radius: 3px;
    width: 80%;
    height: 2%;
}

section div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0);
    border-radius: 30px;
    color: transparent;
}

/*
Añade animacion a los botones de "section" cuando se coloca el cursor encima de ellos o se pulsan para dar "feedback" al usuario.
*/

section div:hover hr {
    background: #ff8000;
}

section div:hover {
    background: rgb(0,0,0,0.8);
    color: #fff;
}

section button:hover {
    transition: transform 0.3s;
    cursor: pointer;
    box-shadow: 10px 10px 5px rgb(0,0,0,0.2);
    transform: scale(1.1);
}
section button:active {
    cursor: pointer;
    transform: scale(0.98);
}

/*
Tamaño de letra para los botones de Hamburguesa y Bebidas para que el texto no se salga de los botones
*/

.grande {
    position: absolute;
    top: 38%;
    left: 26px;
    font-size: 30px;
    font-family: Patua One, monospace;
}

/*
Todas las imagenes de los botones, cada una asignada al boton que le toca
*/

#cafe {
    background: url(../galeria/cafe.jpg) no-repeat;
    background-size: cover;
}

#agua {
    background: url(../galeria/agua.jpg) no-repeat;
    background-size: cover;
}

#bebidas {
    background: url(../galeria/bebidas.jpg) no-repeat;
    background-size: cover;
}

#tostada {
    background: url(../galeria/tostada.jpg) no-repeat;
    background-size: cover;
}

#postre {
    background: url(../galeria/postre.jpg) no-repeat;
    background-size: cover;
}

#ensalada {
    background: url(../galeria/ensalada.jpg) no-repeat;
    background-size: cover;
}

#hamburguesa {
    background: url(../galeria/hamburguesa.jpg) no-repeat;
    background-size: cover;
}

#pizza {
    background: url(../galeria/pizza.jpg) no-repeat;
    background-size: cover;
}

#sushi {
    background: url(../galeria/sushi.jpg) no-repeat;
    background-size: cover;
}

/*
Tamaño del "aside" donde tendremos la factura
*/

aside {
    top: 121px;
    width: 33%;
    background: #000000;
}

/*
Caracteristicas del cuadro azul que contiene el precio total de nuestro pedido
*/

#total {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 33%;
    height: 121px;
    background: #10D1D1;
}

/*
Tamaños de texto, posicion y tipo de letra para el texto del total de coste de los pedidos
*/

#total h1 {
    position: absolute;
    color: #000;
    font-family: Patua One, monospace;
    font-size: 40px;
    left: 28%;
    top: 32.7%;
}

#total h2 {
    position: absolute;
    color: #000;
    font-family: Patua One, monospace;
    font-size: 40px;
    top: 32.7%;
    right: 28%;
}

/*
Tamaños, colores, animaciones y caracteristicas del teclado numerico
*/

#cajita {
    position: absolute;
    width: 50%;
    height: 20%;
    bottom: 70px;
    left: 20%;

}

#cajita .d1 {
    background-color: #10D1D1;
    border: none;
    color: white;
    padding: 16px 32px;
    font-size: 16px;
    width: 180px;
    height: 60px;
    float: flex;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 10px 10px 5px rgb(0,0,0,0.2);
    border-radius: 50%;
}

#dp1 {
    position: absolute;
    left: 0;
    width: 555px;
    height: 40px;
    bottom: 210px;
    font-size: 16px;
    background: #fff;

}

#cajita .d1:active {
    cursor: pointer;
    transform: scale(0.98);
}
#menos {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    background: #D8CC42;
    border-radius: 10px;
}

#menos hr {
    position: absolute;
    height: 5px;
    width: 80%;
    top: 26px;
    right: 10%;
    background: #000;
    border-color: #000;
}

#mas {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    background: #D8CC42;
    border-radius: 10px;
}

#enter {
    position: absolute;
    width: 150px;
    height: 80px;
    background: #fff;
    bottom: 25px;
    right: 46.5%;
    border-radius: 10px;
    box-shadow: 0 0 15px hsla(100,50%,50%,1)
}

#enter h4 {
    position: absolute;
    color: #000;
    font-size: 45px;
    top: 9px;
    right: 14px;
}

/*
Estilo, tamaño y posicion del texto que contiene los elementos de nuestro pedido
*/

aside h4 {
    position: absolute;
    color: #000;
    font-family: Patua One, monospace;
    font-size: 40px;
    top: 8.5%;
    left: 67.5%;
}
